:root{
    --txt: black;
    background-color: rgb(220, 220, 231);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);
}

.content {
    width: 100vw;
    height: 100vh;
}

.content, .logo {
    display: flex;
    flex-direction: row;

}

.picture {
    background-image: url("../img/jean-baptiste-d-PLa6rRVW1gQ-unsplash.jpg");
    position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 35vw;
}

.logo {
    background-color: rgba(0, 0, 60, 0.7);
    color: whitesmoke;
    height: auto;
    position: relative;
    top: 13vh;
    gap: 1vw;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    width: 34vw;
}

h1 {
    color: white;
}

.odin {
    height: 12vh;
}

.photo_credit > p {
    color: white;
    align-self: center;
    height: fit-content;
    position: relative;
    bottom: -82vh;
    left: 12vw;
}

/*right side*/

.right {
    width: 60vw;
    background-color: rgb(220, 220, 231);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.dummy-text-right {
    font-size: 20px;
    font-weight: 800;
    width: 90%;
    margin-bottom: 40px;
}

.form {
    background-color: rgb(246, 240, 240);
    box-shadow: 5px 5px 10px black;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 40px;
    gap: 20px;
}

button {
    width: 220px;
    height: 50px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 15px;
    background-color: rgb(40, 13, 108);
    margin-bottom: 30px;
}

.form > #vamos {
    font-size: 23px;
    font-weight: 200;
}

#vamos {
    grid-column: 1 / span 2;
}

#fnamediv {
    grid-column: 1 / span 1;
}

#lnamediv {
    grid-column: 2 / span 1;
}

.input {
    display: flex;
    flex-flow: column wrap;
    opacity: 80%;
    text-transform: uppercase;
    border-radius: 5px;
    width: 80%;
}

input {
    height: 2em;
}

input:focus{
    border: 2px solid var(--color);
}

button:hover{
    background-color: rgb(88, 69, 136);
    color:white;
   
}


